ul#css3menu1{
	margin:0 0%;list-style:none;padding:0 0%;background-color:#000;background-image:url("mainbk.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;font-size:0;width:100%;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;*padding-right:0.75%;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;width:25%;}
body:first-of-type ul#css3menu1{
	display:inline-table;border-spacing:0px 0;}
body:first-of-type ul#css3menu1>li{
	display:table-cell;float:none;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 14px "Times New Roman",Times,serif;color:#cccccc;cursor:default;padding:5px 10px 5px 10px;background-color:#2e4131;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#55ffff;border-style:none;color:#ffffff;text-decoration:underline;background-image:url("mainbk.png");background-position:0 100px;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:5px;}
ul#css3menu1 li.topfirst>a{
	border-radius:0px 0 0 0px;-moz-border-radius:0px 0 0 0px;-webkit-border-radius:0px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topfirst:hover>a,ul#css3menu1 li.topfirst a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.topmenu>a{
	text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.toplast>a{
	border-radius:0 0px 0px 0;-moz-border-radius:0 0px 0px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.toplast:hover>a,ul#css3menu1 li.toplast a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1>li:nth-child(1){width:34%}ul#css3menu1>li:nth-child(2){width:26%}ul#css3menu1>li:nth-child(3){width:27%}ul#css3menu1>li:nth-child(4){width:13%}
@-moz-document url-prefix(){body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:530px),only screen and (max-device-width:530px){
ul#css3menu1>li:nth-child(1){width:57%}ul#css3menu1>li:nth-child(2){width:43%}ul#css3menu1>li:nth-child(3){width:67%}ul#css3menu1>li:nth-child(4){width:33%}body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:316px),only screen and (max-device-width:316px){
ul#css3menu1>li:nth-child(1){width:100%}ul#css3menu1>li:nth-child(2){width:49%}ul#css3menu1>li:nth-child(3){width:51%}ul#css3menu1>li:nth-child(4){width:100%}}
@media only screen and (max-width:281px),only screen and (max-device-width:281px){
ul#css3menu1>li:nth-child(1){width:100%}ul#css3menu1>li:nth-child(2){width:100%}ul#css3menu1>li:nth-child(3){width:100%}ul#css3menu1>li:nth-child(4){width:100%}}
